.relatedVideos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Default: 1-2 videos per line */
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .relatedVideos {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* iPad and tablets: 2-3 videos per line */
  }
}

@media (min-width: 1025px) {
  .relatedVideos {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Desktops and laptops: 4-6 videos per line */
  }
}
.text {
  text-align: center;
  color: var(--text-color);
}

