.relatedVideos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color)); /* Adjust gradient direction */
  border-radius: 8px;
  padding: 1rem;
  color: var(--text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  text-align: center;;
}

.text {
  text-align: center;
  color: var(--text-color);
}

