.videoInfo {
    padding: 1rem;
    text-align: center;
  }
  
  .tags {
    padding: 0.5rem 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .tag {
    
    background-color: #ddd;
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
  }
  