.videoInfo {
    padding: 1rem;
    text-align: center;
    height: 100%;
  }
  
.videoTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .videoCategory, .videoDesc {
    margin-top: 0.5rem;
    color: var(--text-color); /* Consistent text color */
  }
  
  .tags {
    padding: 0.5rem 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .category{
    font-size: 0.85rem;
    color: #ffa07a;
    margin-bottom: 0.5rem;
  }
  
  
  .tag {
    background-color: #ff6347;
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .tag:hover {
    background-color: #ffa07a;
    color: #fff; /* Consistent hover effect */
  }