
.video-page-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  height: calc(100vh - 7vh);
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* padding:  1rem 1rem 1rem; 
  gap: 1rem; */
  height: calc(100vh - 7vh); /* Adjust for header height */
  
}

.videoPlayerContainer {
  flex: 7;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.detailsCommentsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
  

}

.videoPlayer {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.videoDetails, .commentsSection {
  margin-top: 1rem;
  /*background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); /* Same gradient */
  border-radius: 8px; /* Consistent border radius */
  padding: 1rem;
  color: var(--text-color); /* Consistent text color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Consistent shadow */
  /* Ensure it grows to fill the space */
  overflow: scroll;
  text-align: center;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  
  

}
.commentsSection{
  width: 50%;
  display: block;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.videoTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.videoCategory, .videoDescription, .videoTags {
  margin-top: 0.5rem;
  color: var(--text-color); /* Consistent text color */
}
.videoCategory{
  font-size: 0.85rem;
  color: #ffa07a;
  margin-bottom: 0.5rem;
}

.tag {
  background-color: #ff6347;
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tag:hover {
  background-color: #ffa07a;
  color: #fff; /* Consistent hover effect */
}

.sideContent {
  /*
  padding: 0.5rem 0.5rem 0.5rem 0;
  gap: 1rem;
  */
  flex: 3;
  display: flex;
  flex-direction: column;
  
}

.relatedVideosSection {
  flex: 1;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border-radius: 8px;
  padding: 1rem;
  color: var(--text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  text-align: center;
}
.relatedTitle{
  display: block;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.6);
}

.comment {
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.commentAuthor {
  font-weight: bold;
  color: #ff6347;
  margin-bottom: 0.5rem;
}

.commentContent {
  color: #fff;
  margin-bottom: 0.5rem;
}

.commentTimestamp {
  font-size: 0.75rem;
  color: var(--text-secondary-color);
}

.relatedVideosList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .video-page-container{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .mainContent {
    flex-direction: column;
    height: auto; /* Ensure it grows to fit the content */
    
  }

  .videoPlayerContainer {
    flex: none;
  }

  .sideContent {
    flex: content;
    
  }
  .detailsCommentsContainer{
    display: flex;
    flex-direction: column;
    
    
  }
}