
:root {
  --primary-color: #2c3e50;
  --secondary-color: #4ca1af;
  --highlight-color: #ff6347;
  --background-color: #111;
  --text-color: #fff;
  --text-secondary-color: #ccc;
  --text-highlight-color: #ffa07a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #2c3e50, #4ca1af); 
  color: #e0e0e0;
  height: 100%;
  width: 100%;
  /*line-height: 1.6;*/
  
}
@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  html,body{
    overflow-y: scroll;
  }
}
.header {
  background-color: rgba(0, 0, 0, 0.5);  
  padding: 0.5rem 0;
}

a {
  color: #ff6347;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffa07a; 
}

.header h1 {
  font-size: 2rem;
  text-align: center;
}

.nav {
  text-align: center;
}

.nav ul {
  list-style: none;
}

.nav li {
  display: inline-block;
  margin: 0 1rem;
}

.nav a {
  color: #ff6347;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #ffa07a; 
}

